

h1 {
    text-align: center;
    width: 270px;
    margin: 70px auto 50px auto;
     /* margin: 25px auto; */
    color: var(--white);
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 50px;
    font-size: var(--font-size-normal);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    display: none;
}

.buttonContainer {
     /* display: flex; */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
    display: none;
}
.teamButton, .dateButton {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: var(--font-size-normal);
    cursor: pointer;
    text-transform: uppercase;
}

.teamButton {
    background-color: var(--red);
    border: 2px solid var(--red);
    color: var(--white);
    margin-right: 3px;
}

.dateButton {
    background-color: var(--light-grey);
    border: 2px solid var(--light-grey);
    color: var(--black);
}

.statsSelectionContainer {
    display: none;
    /* display: flex; */
    justify-content: center;
    margin: 20px 0;
}

hr {
    border: 1px solid var(--light-grey);
}

.chooseContentStyles hr {
    border: 1px solid var(--light-grey);
    display: none;
}

.underlineBtn {
    position: relative;
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    color: #333; /* Change the color as desired */
}

.selected::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--red);
    transform: scaleX(1); /* Show the underline when selected */
    transform-origin: left;
    transition: transform 0.3s ease; /* Add transition effect to the underline */
    top: 20px;
}

.selected {
    color: var(--red);
}

/* Remove button outline */
.underlineBtn:focus {
    outline: none;
}
