.wrapper {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "first-row-left first-row-right"
    ". second-row-right"
    ". third-row-right";
}

.visualizeText {
    grid-area: first-row-left;
    background-color: var(--red);
    color: var(--white);
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.firstRow {
    grid-area: first-row-right;
    border: 2px solid var(--dark-grey);
    width: 100%;
    padding: 0 10px;
}

.secondRow {
    grid-area: second-row-right;
    background-color: var(--light-grey);
    padding: 0 10px;
    border: 2px solid var(--dark-grey);
    width: 100%;
}

.thirdRow {
    grid-area: third-row-right;
    height: 48px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.circleContainer {
    display: flex;
    align-items: center;
}

.circleText {
    margin-left: 10px;
    letter-spacing: 1px;
}

.selectedTeamCircleContainer, .otherTeamCircleContainer {
    display: flex;
    align-items: center;
}

.otherTeamCircleContainer {
    margin-left: 30px;
}

.view1, .view2 {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: var(--font-size-small);
}

.view1 {
    background-color: var(--red);
    border: 2px solid var(--red);
    color: var(--white);
    margin-right: 3px;
}

.view2 {
    background-color: var(--white);
    border: 2px solid var(--dark-grey);
    color: var(--black);
}