.container {
    display: grid;
    width: 1080px;
    grid-template-columns: 60px 75px 223px 223px 223px 58px 25px 62px 30px;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.container:hover {
    background-color: var(--light-grey);
}

.column {
    display: flex;
}

.header {
    padding: 5px;
    border-bottom: 1px solid var(--black);
    text-align: center;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    font-size: 14px;
}
