.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
}

.timelineLine {
    border-radius: 3px;
    height: 5px;
    background-color: var(--dark-grey);
    z-index: 1;
}