:root {
    --black: #231F20;
    --white: #FFFFFF;
    --red: #E21836;
    --dark-grey: #848694;
    --light-grey: #ECEEF2;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.content-wrapper {
    width: 1080px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}