.container {
    display: grid;
    width: 1080px;
    grid-template-columns: 60px 75px 223px 223px 223px 58px 25px 62px 30px;
    gap: 10px;
    margin-bottom: 3px;
    padding: 0 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px 0;
    border-bottom: 1px solid var(--black);
    text-align: center;
}